@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './global.css';

nav {
  padding: 2rem;
  background-color: var(--zinc-900);
  box-shadow: 0px 1px 0px 1px var(--fuchsia-700);
}

nav .navigation .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  margin-top: 6rem;
  width: 32rem;
  padding-inline: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: 2rem;
  margin-bottom: 2.4rem;
  border-radius: 8px;
  background-color: var(--zinc-900);
  box-shadow: 0px 0px 1px 1px var(--zinc-900);
}

.card:hover{
  transform: scale(1.05);
  transition: .4s;
}

.card-category {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-category p {
  font-size: 1rem;
  color: var(--zinc-400);
  background-color: var(--zinc-800);
  border-radius: 4px;
  padding: 4px 8px;  
}

