@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './global.css';

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6rem;
  background-color: var(--zinc-900);
  box-shadow: 0px 1px 0px 1px var(--fuchsia-700);
}

nav .navigation {
  position: relative;
}

#toogle-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  position: relative;
}

#toogle-menu .menu-lines {
  width: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.button-active .line1 {
  transform: rotate(45deg);
  position: absolute;
}

.button-active .line2 {
  display: none;
}


.button-active .line3 {
  transform: rotate(-45deg);
  position: absolute;
}


nav .navigation .menu-lines .line {
  width: 100%;
  height: 2px;
  background: none;
  background-color: var(--zinc-200);
}

.active {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 8rem;

}
.menu {
  display: none;
}

section {
  margin-top: 12rem;
  width: 32rem;
  padding-inline: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: 2rem;
  margin-bottom: 2.4rem;
  border-radius: 8px;
  background-color: var(--zinc-900);
  box-shadow: 0px 0px 1px 1px var(--zinc-900);
}

.card:hover{
  transform: scale(1.05);
  transition: .4s;
}

.card-category {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.card-category p {
  font-size: 1rem;
  color: var(--zinc-400);
  background-color: var(--zinc-800);
  border-radius: 4px;
  padding: 4px 8px;  
}

